/* Write your CSS here */
.button {
  background-color: transparent;
  border-radius: 10px;
  width: 98px;
  height: 36px;
  border: solid 1px #ff0b37;
  color: #ff0b37;
  cursor: pointer;
}
button:hover {
  background-color: crimson;
}
.styling {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
